# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
.idea_modules/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
*.log

# Spring Boot specific
spring.log

# Eclipse specific
.project
.classpath
.csettings
.settings/
.bnd
org.eclipse.*
bin/

# OS specific files
.DS_Store
Thumbs.db

# Others
*.swp
*.swo
*.bak
*~